<header>
  <h2>Cohort Assessment Tracker</h2>
  <nav>
    <ul>
      <li><a href="/categories">Categories</a></li>
      <li><a href="/subcategories">Subcategories</a></li>
      <li><a href="/standards">Standards</a></li>
    </ul>
  </nav>
</header>
